<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Proyecto Django</title>
</head>
<body>
    <header>
        <h1>Mi Proyecto Automotriz</h1>
        <nav>
            <!-- Aquí usamos la etiqueta URL que pide la rúbrica -->
            <a href="{% url 'inicio' %}">Inicio</a> | 
            <a href="{% url 'catalogo_autos' %}">Ver Catálogo de Autos</a>
        </nav>
    </header>
    
    <main>
        <!-- Este bloque será reemplazado por el contenido de las otras páginas -->
        {% block contenido %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 - Evaluación Sumativa 1</p>
    </footer>
</body>
</html>