{% extends 'core/base.html' %}

{% block contenido %}
    <h2>{{ titulo }}</h2>

    <p><a href="{% url 'crear_auto' %}"> + Agregar nuevo auto</a></p>

    {% if lista_autos %}
        <ul>
            {% for auto in lista_autos %}
                <li>
                    {{ auto.marca }} {{ auto.modelo }} (Año: {{ auto.año }}) - ${{ auto.precio }}
                    | <a href="{% url 'editar_auto' auto.id %}">Editar</a>
                    | <a href="{% url 'eliminar_auto' auto.id %}">Eliminar</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>En este momento no hay autos disponibles en el catálogo.</p>
    {% endif %}
{% endblock %}